body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.placar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.time {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.set-pontos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sets, .pontos {
    font-size: 24px;
    margin: 0 20px;
}

button {
    font-size: 24px;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

.divider {
    height: 100px;
    width: 2px;
    background-color: #ddd;
}
